* {
  padding: 0;
  margin: 0;
}

html, body {
  padding: 0;
  margin: 0;
  background: linear-gradient(
    90deg,
    black 0%,
    rgb(71, 10, 128) 50%,
    black 79%,
    rgb(40, 1, 40) 100%
  );
  overflow-x: hidden;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 1190px;
  padding: 20px 25px;
  position: fixed;
  /*top: 0;*/
  z-index: 1;
  background: linear-gradient(
    90deg,
    black 0%,
    rgb(71, 10, 128) 50%,
    black 79%,
    rgb(40, 1, 40) 100%
  );
  /*width: 1500px;*/
}
.navbar p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: white;
}

.navbar button {
  background-color: black;
  color: white;
  width: 135px;
  height: 35px;
  border: 2px solid rgb(101, 25, 101);
  border-radius: 20px;
  cursor: pointer;
}

.navbar button:hover {
  background-color: #707070;
  color: #fe7be6;
}

.lead-magnet button {
  background-color: black;
  color: white;
  width: 135px;
  height: 35px;
  border: 2px solid rgb(101, 25, 101);
  border-radius: 25px;
  cursor: pointer;
  margin-top: 50px;
}

.lead-magnet button:hover {
  background-color: #707070;
  color: #fe7be6;
}

.lead-magnet h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 38px;
  padding: 15px 0px;
  color: #fff;
}

.lead-magnet p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #bababa;
}

.lead-magnet {
  margin-top: 50px;
  margin-bottom: 180px;
}

.emailbox {
  display: flex;
  gap: 10px;
}

.emailbox input {
  width: 305px;
  height: 40px;
  border: 2px solid purple;
  border-radius: 10px;
  padding-left: 8px;
  background-color: rgb(95, 91, 91);
  color: #f5f5f5;
}

.emailbox input:active {
  background-color: rgb(241, 220, 220);
  color: #f82e2e;
}

.emailbox input::placeholder {
  padding-left: 3px;
  color: #b6b2b2;
}

.emailbox button {
  background-color: #8639ce;
  color: white;
  width: 140px;
  height: 40px;
  border: 2px solid #af69ef;
  box-shadow: 1px 1px #9c47eb;
  border-radius: 25px;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 3s;
  transition-timing-function: ease-in-out;
  transition-delay: 0.5s;
}

.emailbox button:hover {
  background-color: #360f5b;
  color: rgb(187, 186, 186);
}

.free {
  display: flex;
  gap: 20px;
  margin-top: 8px;
  margin-bottom: 15px;
}

.free p {
  color: #bababa;
}

.img1 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
}

.img2 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  left: 30px;
  z-index: 1;
}

.img3 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  left: 55px;
  z-index: 1;
}

.lead-img {
  position: relative;
}

.lead-img p {
  position: relative;
  left: 100px;
  padding-top: 8px;
  color: #bababa;
}

.first-section {
  display: flex;
  justify-content: center;
  gap: 500px;
}

.facecard1 img {
  width: 270px;
  height: 470px;
  object-fit: cover;
  border-radius: 8px;
  overflow: none;
  border: 2px solid purple;
  margin-top: 110px;
  margin-left: 30px;
}

.nav-img1-box {
  background: linear-gradient(
    90deg,
    black 0%,
    rgb(71, 10, 128) 50%,
    black 79%,
    rgb(40, 1, 40) 100%
  );
}

.benefit-section1 {
  padding-left: 20px;
}

.benefit-section1 h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-top: 18px;
  color: #fff;
}

.benefit-section1 p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-top: 10px;
  color: #bababa;
  line-height: 20px;
}

.benefit-section1 button {
  background-color: #8639ce;
  color: white;
  width: 130px;
  height: 30px;
  border: 2px solid #af69ef;
  box-shadow: 1px 1px #9c47eb;
  border-radius: 25px;
  margin-top: 190px;
  cursor: pointer;
}

.benefit-section1 button:hover {
  background-color: #360f5b;
  color: rgb(187, 186, 186);
}

.second-section1 {
  display: flex;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background: linear-gradient(
    45deg,
    black 0%,
    rgb(40, 1, 40) 20%,
    rgb(71, 10, 128) 50%,
    black 79%,
    rgb(40, 1, 40) 100%
  );
  width: 900px;
  height: 473px;
  border: 1px solid rgb(122, 0, 122);
}

.cta-image img {
  width: 250px;
  height: 473px;
  object-fit: cover;
  margin-left: 20px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-left: 325px;
}

.icon i {
  font-size: 35px;
  color: rgb(235, 177, 235);
  margin-top: 10px;
}

.second-section-box {
  display: flex;
}

/*.second-section2 {
  border-radius: 8px;
  background-color: purple;
  width: 490px;
  height: 470px;
  border: 2px solid rgb(122, 0, 122);
}*/

.benefit-section2 h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-top: 18px;
  color: #fff;
}

.benefit-section2 p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-top: 10px;
  color: #bababa;
  line-height: 20px;
}

.benefit-section2i h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-top: 18px;
  color: #fff;
}

.benefit-section2i p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-top: 10px;
  color: #bababa;
  line-height: 20px;
}

.section2-box1 {
  border-radius: 8px;
  background: linear-gradient(
    45deg,
    black 0%,
    rgb(40, 1, 40) 20%,
    rgb(71, 10, 128) 50%,
    black 79%,
    rgb(40, 1, 40) 100%
  );
  width: 490px;
  height: 225px;
  border: 1px solid rgb(122, 0, 122);
  margin-left: 12px;
  padding-left: 30px;
}

.section2-box2 {
  border-radius: 8px;
  background: linear-gradient(
    45deg,
    black 0%,
    rgb(40, 1, 40) 20%,
    rgb(71, 10, 128) 50%,
    black 79%,
    rgb(40, 1, 40) 100%
  );
  width: 490px;
  height: 225px;
  border: 1px solid rgb(122, 0, 122);
  margin-top: 17px;
  margin-left: 12px;
  padding-left: 30px;
}

.bottom-logo p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: white;
  margin-top: 40px;
  text-align: center;
}

.footer {
  display: flex;
  gap: 900px;
  justify-content: center;
  padding-bottom: 20px;
}

.realfooter {
  margin-top: 50px;
  color: #bababa;
  font-size: 14px;
}

.terms {
  margin-top: 50px;
  color: #bababa;
  font-size: 14px;
}

.second-section-box {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.general-div {
  background: linear-gradient(
    90deg,
    black 0%,
    rgb(71, 10, 128) 50%,
    black 79%,
    rgb(40, 1, 40) 100%
  );
}

@media (max-width: 400px) {
  .navbar {
    gap: 90px;
    z-index: 1;
    top: 0;
    width: 370px;
  }

  .navbar p {
    font-size: 18px;
    padding-top: 7px;
  }

  .first-section {
    display: block;
  }

  .lead-magnet h1 {
    font-size: 23px;
  }

  .lead-magnet p {
    font-size: 14px;
  }

  .emailbox input {
    width: 200px;
  }

  .emailbox button {
    width: 110px;
  }

  .lead-magnet {
    margin-bottom: 20px;
  }

  .facecard1 img {
    margin-top: 25px;
    width: 250px;
    height: 350px;
  }

  .facecard1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-img1-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .free p {
    font-size: 12px;
  }

  .free {
    gap: 10px;
  }

  .lead-email {
    padding-left: 15px;
    padding-right: 5px;
  }

  .lead-magnet {
    margin-top: 40px;
  }

  .second-section-box {
    display: block;
    margin-top: 30px;
  }

  .icon i {
    font-size: 30px;
    margin-top: 4px;
  }

  .benefit-section1 button {
    width: 110px;
    height: 30px;
    margin-top: 18px;
  }

  .benefit-section1 h3 {
    font-size: 16px;
    margin-top: 8px;
  }

  .second-section1 {
    display: block;
    width: 350px;
    height: 220px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .cta-image {
    padding-left: 0;
    width: 350px;
  }

  .cta-image img {
    width: 350px;
    height: 200px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 8px;
    padding-left: 0;
    margin-left: 0;
    /*border: 1px solid rgb(122, 0, 122);*/
  }

  .benefit-section1 {
    padding-left: 10px;
    padding-bottom: 10px;
  }

  .div {
    display: flex;
    justify-content: center;
  }

  .second-section2 {
    margin-top: 220px;
  }

  .benefit-section2 h3 {
    font-size: 16px;
    margin-top: 8px;
  }

  .section2-box1 {
    width: 350px;
    height: 170px;
    margin-left: 0px;
    padding-left: 8px;
  }

  .section2-box2 {
    width: 350px;
    height: 170px;
    margin-left: 0px;
    padding-left: 8px;
  }

  .div2 {
    display: flex;
    justify-content: center;
  }

  .bottom-logo p {
    font-size: 20px;
    /*margin-top: 30px;*/
  }

  .footer {
    gap: 60px;
    padding-bottom: 15px;
  }

  .realfooter {
    margin-top: 40px;
    font-size: 12px;
  }

  .terms {
    margin-top: 40px;
    font-size: 12px;
  }
}

@media (min-width: 471px) and (max-width: 700px) {
  .navbar {
    gap: 140px;
    z-index: 1;
    top: 0;
    width: 478px;
  }

  .navbar p {
    font-size: 18px;
    padding-top: 7px;
  }

  .first-section {
    display: block;
  }

  .lead-magnet h1 {
    font-size: 23px;
  }

  .lead-magnet p {
    font-size: 14px;
  }

  .emailbox input {
    width: 240px;
  }

  .emailbox button {
    width: 150px;
  }

  .lead-magnet {
    margin-bottom: 20px;
  }

  .free p {
    font-size: 14px;
  }

  .free {
    gap: 10px;
  }

  .facecard1 img {
    margin-top: 25px;
    width: 300px;
    height: 350px;
  }

  .facecard1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-img1-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .lead-email {
    padding-left: 18px;
    padding-right: 10px;
  }

  .lead-magnet {
    margin-top: 40px;
  }

  .second-section-box {
    display: block;
    margin-top: 30px;
  }

  .icon i {
    font-size: 35px;
    margin-top: 8px;
  }

  .benefit-section1 button {
    width: 110px;
    height: 30px;
    margin-top: 18px;
  }

  .benefit-section1 h3 {
    font-size: 16px;
    margin-top: 8px;
  }

  .second-section1 {
    display: block;
    width: 400px;
    height: 250px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .cta-image {
    padding-left: 0;
    width: 450px;
  }

  .cta-image img {
    width: 400px;
    height: 210px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 8px;
    padding-left: 0;
    margin-left: 0;
    /*border: 1px solid rgb(122, 0, 122);*/
  }

  .benefit-section1 {
    padding-left: 10px;
    padding-bottom: 10px;
  }

  .div {
    display: flex;
    justify-content: center;
  }

  .second-section2 {
    margin-top: 220px;
  }

  .benefit-section2 h3 {
    font-size: 16px;
    margin-top: 8px;
  }

  .section2-box1 {
    width: 400px;
    height: 180px;
    margin-left: 0px;
    padding-left: 8px;
  }

  .section2-box2 {
    width: 400px;
    height: 180px;
    margin-left: 0px;
    padding-left: 8px;
  }

  .div2 {
    display: flex;
    justify-content: center;
  }

  .bottom-logo p {
    font-size: 25px;
    /*margin-top: 30px;*/
  }

  .footer {
    gap: 80px;
    padding-bottom: 20px;
  }

  .realfooter {
    margin-top: 40px;
    font-size: 14px;
  }

  .terms {
    margin-top: 40px;
    font-size: 14px;
  }
}

@media (min-width: 701px) and (max-width: 1200px) {
  .navbar {
    gap: 460px;
    z-index: 1;
    top: 0;
    width: 880px;
  }

  .navbar p {
    font-size: 25px;
    padding-top: 7px;
  }

  .first-section {
    display: flex;
    gap: 30px;
    justify-content: center;
  }

  .lead-magnet h1 {
    font-size: 23px;
  }

  .lead-magnet p {
    font-size: 14px;
  }

  .email-section {
    margin-top: 20px;
  }

  .emailbox input {
    width: 280px;
  }

  .emailbox button {
    width: 150px;
  }

  .lead-magnet {
    margin-bottom: 30px;
  }

  .free p {
    font-size: 14px;
  }

  .free {
    gap: 10px;
  }

  .facecard1 img {
    margin-top: 30px;
    width: 250px;
    height: 300px;
  }

  .facecard1 {
    margin-top: 60px;
    padding-right: 20px;
  }

  .nav-img1-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .lead-email {
    padding-left: 18px;
    padding-right: 10px;
  }

  .lead-magnet {
    margin-top: 60px;
  }

  .second-section-box {
    display: flex;
    margin-top: 40px;
  }

  .icon i {
    font-size: 35px;
    margin-top: 8px;
  }

  .benefit-section1 button {
    width: 110px;
    height: 30px;
    margin-top: 18px;
  }

  .benefit-section1 h3 {
    font-size: 16px;
    margin-top: 8px;
  }

  .second-section1 {
    display: flex;
    width: 420px;
    height: 350px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .cta-image {
    padding-left: 0;
    width: 450px;
  }

  .cta-image img {
    width: 200px;
    height: 350px;
    border-top-left-radius: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-left: 42px;
    margin-left: 0;
    /*border: 1px solid rgb(122, 0, 122);*/
  }

  .benefit-section1 {
    padding-left: 10px;
    padding-bottom: 10px;
  }

  .benefit-section1 p {
    font-size: 16px;
  }

  /*.div {
    display: flex;
    justify-content: center;
  }*/

  .second-section2 {
    margin-top: 0;
  }

  .benefit-section2 h3 {
    font-size: 16px;
    margin-top: 8px;
  }

  .section2-box1 {
    width: 350px;
    height: 170px;
    margin-left: 0px;
    padding-left: 8px;
  }

  .section2-box2 {
    width: 350px;
    height: 170px;
    margin-left: 0px;
    padding-left: 8px;
    margin-top: 5px;
  }

  .second-section-box {
    display: flex;
    justify-content: center;
    gap: 5px;
  }

  .div2 {
    display: flex;
    justify-content: center;
  }

  .bottom-logo p {
    font-size: 25px;
    margin-top: 70px;
  }

  .footer {
    gap: 250px;
    padding-bottom: 50px;
    margin-top: 50px;
  }

  .realfooter {
    margin-top: 60px;
    font-size: 16px;
  }

  .terms {
    margin-top: 60px;
    font-size: 16px;
  }
}
